<div class="table-wrapper">
  <div class="table-toolbar">
    <div>Here you can manage all your deals ordered by their names, keep track of their financial results and add new ones!</div>
    <button class="main-button small-button" (click)="createDialogOpen = true">Create New Deal</button>
  </div>
  <div class="table-content">
    <table>
      <tr>
        <th class="cell cell-id">ID</th>
        <th class="cell cell-name">Deal Name</th>
        <th class="cell cell-address">Address</th>
        <th class="cell cell-price">Purchase Price</th>
        <th class="cell cell-noi">Net Operating Income</th>
        <th class="cell cell-cap">Cap Rate</th>
      </tr>
      <ng-container *rxLet="deals$;
      let deals;
      suspense: loading">
      <tr *ngFor="let deal of deals">
        <td class="cell cell-id">{{deal.id}}</td>
        <td class="cell cell-name">{{deal.name}}</td>
        <td class="cell cell-address">{{deal.address}}</td>
        <td class="cell cell-price">{{deal.purchasePrice | currency:'USD'}}</td>
        <td class="cell cell-noi">{{deal.NOI | currency:'USD'}}</td>
        <td class="cell cell-cap">{{deal.capRate | percent}}</td>
      </tr>
    </ng-container>
    </table>
    <ng-template #loading><ngx-spinner type="ball-scale-multiple"></ngx-spinner></ng-template>

  </div>
</div>

<app-dialog-deal *ngIf="createDialogOpen" (closeDialog)="createDialogOpen = false"></app-dialog-deal>
