$brown-theme: #3e3a3a;
$red-theme: #651a00;
$white-theme: white;
$backdrop-theme: rgba(0, 0, 0, 0.6);

$bold-font: 500;
$light-font: 100;

$big-font: 60px;
$medium-font: 30px;
$small-font: 16px;
$very-small-font: 12px;

$default-transition: 500ms;
